version: '3.8'
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
    volumes:
      - ./qbit_config:/config
      - ./downloads:/downloads
    ports:
      - "8080:8080"
      - "6881:6881"
      - "6881:6881/udp"
    restart: unless-stopped

  gateway:
    build:
      context: ../services/torrent-gateway
      dockerfile: Dockerfile
    container_name: torrent-gateway
    environment:
      - QBIT_URL=http://qbittorrent:8080
      - DOWNLOAD_DIR=/downloads
    volumes:
      - ./downloads:/downloads
    ports:
      - "3000:3000"
    depends_on:
      - qbittorrent
    restart: unless-stopped
